/* COLORS */

.bg-blue {
    background-color: #005599;
}

.bg-yellow {
    background-color: #ffc806;
}

.bg-green {
    background-color: #247033;
}

.bg-orange {
    background-color: #f26522);
}

.bg-brown {
    background-color: #884e2e;
}