@import url(reset.css);
@import url(colors.css);
@import url(flex-order.css);
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Fonts */

/* Body */

body {
    margin: 0px;

}

img {
    max-width: 100%;
}

/* NAVIGATION */
nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

nav ul {
    display: flex;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;

}

.logo {
    width: 200px;
}

nav ul li {
    padding: 10px 0px;
}

nav ul li:last-child {
    border-bottom: none;
}


@media (min-width: 768px){



    nav {
        flex-direction: row;
    }

    nav ul {
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-evenly;
    }

    nav ul li {
        border-bottom: none;
        text-align: center;
        flex-grow: 1;
    }

    nav ul li:last-child {
        border-right: none;
    }

}